<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css" />
  <title>CropMart</title>
</head>
<body class="main-index-page">
    <div class="container">
      <h1 class="primary-title">CropMart</h1>
      <h4>Our Commitment to You</h4>
      <p>Offering the best quality of <strong>fresh</strong> and <strong>community</strong> driven agriculture!</p>
      <a href="/items" class="btn-one">Shop Fresh</a> &nbsp;&nbsp;&nbsp; <a href="/items/new" class="btn-two">Sell Local</a>
    </div>
</body>
</html>