/* /LANDING */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-index-page {
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1498579397066-22750a3cb424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  max-width: 500px;
  margin: auto;
}
.container {
  font-size: 20px;
  text-align: center;
  background-color: rgb(202, 94, 28, .60);
  padding-bottom: 30px;
  border-radius: 25px;
  width: 550px;
  margin-top: 60%;
  -webkit-box-shadow: 1px 1px 9px 6px white, 1px 1px 9px 6px white; 
  box-shadow: 1px 1px 9px 6px white, 1px 1px 9px 6px white;
}
.container h4 {
  margin-top: 40px;
  position: relative;
  top: 10px;
}
.container p {
  margin-top: 40px;
  position: relative;
  top: -10px;
}
.primary-title {
  color:#ffffff;
  text-shadow: 
  -2px -2px 0 #000, 
  2px -2px 0 #000, 
  -2px 2px 0 #000, 
  2px 2px 0 #000;
  font-family: 'Berkshire Swash';
  font-size: 100px;
  margin-top: 50%;
  position: relative;
  top: 30px;
}
.btn-one {
  text-decoration: none;
  padding: .5em .5em;
  background:brown;
  color: white;
  font-weight: 700;
  border-radius: .25em;
}
.btn-two {
  text-decoration: none;
  padding: .5em .5em;
  background:green;
  color: white;
  font-weight: 700;
  border-radius: .25em;
}

/* /ITEMS */

.items-index {
  background-color: rgb(186, 186, 182);
}
.custom {
  background-color: hsl(23, 76%, 45%);
}

.items-index a {
  font-size: 25px;
  margin-left: 40px;
}
.navbar-brand h1 {
padding-bottom: 10px;
font-size: 52px;
font-family: 'Berkshire Swash', cursive;
margin-right: 50px;
margin-left: 50px;
color: rgb(244, 244, 243);
}
.store-icon {
  position: relative;
  top: 10px;
  font-size: 52px;
  margin-right: 40px;
   color: rgb(249, 246, 245);
}
.items-index .nav-link {
  margin-right: 40px;
}
.cart-icon {
  color: #f9f9f9;
  font-size: 42px;
}

.items-index .toggle-border{
  color: #f9f9f9;
  border: 7px double rgb(242, 238, 235);
}
.toggle {
  background-color: red;
}
.app-header {
  margin: 10% 0 0 0;
  text-align: center;
  font-size: 36px;
  color:rgb(100, 113, 172);
}

.list-title h4 {
  text-align: center;
  font-size: 19px;
  color: rgb(242, 236, 236);
}

.data-header {
  margin-top: 20px;
  text-align: center;
  color: rgb(40, 40, 40);
  font-size: 32px;
  font-family: 'Zilla Slab Highlight';

}

.display-header {
  font-family: 'Zilla Slab Highlight';
  text-align: center;
  margin-bottom: 30px;
  font-size: 34px;
  color: rgb(40, 40, 40);
}

table a {
  color: rgb(17, 17, 16);
  background-color: rgb(248, 245, 245);
  border: 3px solid rgb(58, 80, 118);
   text-decoration: none;
   text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

a:visited {
  text-decoration: none;
}


table  {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(111, 109, 108);
  margin-bottom: 50px;
  margin-top: 30px;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 2px double #2a2928;
  color: rgb(251, 249, 249);
  text-align: center;
}
tbody tr:nth-child(odd) {
  background: rgb(200, 92, 26);
}




/* 
tr td {
  color: rgb(92, 108, 193);
  text-align: center;
  font-size: 18px;
  font-weight: 500px;
} */

.btn {
  color: rgb(249, 244, 244);
  background-color: #CA5E1C;
  border: 3px rgb(99, 97, 97) solid;
}
.btn:hover {
  background-color: rgb(239, 233, 233);
  color: #c35612;
  border: 3px rgb(99, 97, 97) solid;
}

.custom-footer {
  background-color: #CA5E1C;
  height: 80px;
  font-size: 21px;
}


/* NEW PAGE */

.newBody {
  /* background-color: #fffdd0; */
  background-image: url("https://i.imgur.com/U5fCzkQ.jpg");
}

.newContainer {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  display: flex;
  width: 600px;
  height: 675px;
  margin-top: 8%;
  margin-left: 35%;
  margin-bottom: 8%;
  justify-content: center;
  background-color:#CA5E1C;
  border-radius: 25px;
  color: white;
}

.newForm {
  text-align: center;
  margin-top: 30px;
}

.newContainer input {
  margin-top: 20px;
}

.newContainer select {
  margin-top: 20px;
}

.custom-price {
  width: 100px;
}

.newForm span {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.newContainer h2 {
  font-size: 40px;
  font-family: 'Berkshire Swash';
  text-shadow: 
  -2px -2px 0 #000, 
   2px -2px 0 #000, 
  -2px 2px 0 #000, 
   2px 2px 0 #000;
   background-color: #4e4c4c;
   height: 80px;
   padding-top: 15px;
}

.btnSubmit {
  position: relative;
  top: -30px;
  padding: 15px;
  width: 20em;
}
