/* /LANDING */



/* /ITEMS */
.items-index {
  background-color: rgb(152, 152, 148);
}
.custom {
  background-color: hsl(23, 76%, 45%);
}
.navbar-brand h1 {
  padding-bottom: 10px;
font-size: 52px;
font-family: 'Berkshire Swash', cursive;
margin-right: 40px;
margin-left: 30px;
color: rgb(244, 244, 243);
}
.store-icon {
  position: relative;
  top: 10px;
  font-size: 52px;
  margin-right: 10px;
   color: rgb(249, 246, 245);
}
.items-index .nav-link {
  margin-right: 40px;
}
.cart-icon {
  color: #f9f9f9;
  font-size: 42px;
}

.items-index .toggle-border{
  color: #f9f9f9;
  border: 7px double rgb(242, 238, 235);
}
.toggle {
  background-color: red;
}
.app-header {
  margin: 10% 0 0 0;
  text-align: center;
  font-size: 36px;
  color:rgb(100, 113, 172);
}

.col {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;
}

.col input {
margin-right: 20px;
margin-top: 40px;
}

thead {
  background-color: rgb(116, 112, 112);
  width: 350px;
}
.list-title h4 {
  text-align: center;
  font-size: 19px;
  color: rgb(242, 236, 236);
}

.data-header {
  text-align: center;
  color: rgb(243, 242, 247);
  font-size: 28px;
}

tr td {
  color: rgb(92, 108, 193);
  text-align: center;
  font-size: 18px;
  font-weight: 500px;
}

.btn {
  color: rgb(249, 244, 244);
  background-color: #CA5E1C;
  border: 3px rgb(99, 97, 97) solid;
}
.btn:hover {
  background-color: white;
  color: #c35612;
  border: 3px rgb(99, 97, 97) solid;
}

.custom-footer {
  background-color: #CA5E1C;
  height: 80px;
  font-size: 21px;
}
