<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Fruits</th>
                <th>Vegetables</th>
            </tr>
        </thead>
        <tbody>
            <% crops.forEach(function(c) { %>
                <tr>
                    <td><%= c.fruits %></td>
                    <td><%= c.vegetables %></td>
                    <td><a href="/crops/<%=c._id %>">Selection</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>