  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
<h2>Enter a new item listing</h2>
<form action="/crops" method="POST">
    <label>
         Full Name: <input placeholder="Example: John Doe" type="text" class="name" autocomplete="name">
    </label><br>
     <label>
     Email Address: <input placeholder="Example@email.com" type="text" class="email" autocomplete="email">
     </label><br>
    <label>
     Primary Phone: <input placeholder="1234567891" type="number" class="phone" autocomplete="tel-national">
    </label> <br>
	<label>Fruit Type:
	  <input type="text" class="custom-fruit" name="fruits" placeholder="Enter A Fruit">
	</label><br>
    <label>Vegetable Type:
    <input type="text" class="custom-vegetable" name="vegetables" placeholder="Enter A Vegetable">
      </label><br>
	<label>Quantity per lb:
	   <select name="quantity">
                <option name="min" value="1">1</option>
                <option  value="2">2</option>
                <option  value="3">3</option>
                <option  value="4">4</option>
                <option name="max" value="5">5</option>
        </select>
	</label><br>
	<label>Listing Price:
      <input type="number" class="custom-price" name="price" placeholder="Listing Price">
    <br>
    I have read the terms and conditions for listing a product to the Marketplace App. <input type="checkbox">
    <br>
     I understand that I will start receiving weekly E-newsletters for Marketplace deals and offers. <input type="checkbox">
    <br>
	</label><br>
	<input type="submit" value="Submit">
</form>
</body>
</html>