<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categories</h1>
    Here are our fruits and vegetables for display!
    <div>
    <select name="fruits" class="fruits">
        <option value="Apples">Apple</option>
        <option value="Bananas">Banana</option>
        <option value="Mangos">Mango</option>
        <option value="Oranges">Orange</option>
        <option value="Pineapple">Pineapple</option>
     </select>
     <select name="price" class="prices">
       <option value="5">$5/lb</option>
     </select>
     <div class="quantity-box">
        10
     </div>
     <input type="submit" value="Purchase">
    </div>
    <div>
     <select name="vegetables">
     <option value="Artichoke">Artichoke</option>
     <option value="Broccoli">Broccoli</option>
     <option value="Carrots">Carrots</option>
     <option value="Potatoes">Potatoes</option>
     <option value="Tomatoes">Tomatoes</option>
     </select>
     <select name="price" class="prices">
       <option value="7">$7/lb</option>
     </select>
     <div class="quantity-box">
        10
     </div>
     <input type="submit" value="Purchase">
    </div>
    </div>
</body>
</html>