<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/categories" method="POST">
        <select name="variety" class="variety">
           <option value="Fruits">Fruit</option>
           <option value="Vegetable">Vegetable</option>
        <input type="submit" class="sell-btn" value="Post Listing!">
     </form>
</body>
</html>
