<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
     <section id="show-page">
        <div>Fruits: </div>
        <div><%= item.fruits %></div>
        <div>Vegetables: </div>
        <div><%= item.vegetables%></div>
        <div>Quantity: </div>
        <div><%= item.quantity %></div>
        <div>Price: </div>
        <div><%= item.price%></div>
    </section>
</body>
</html>